# line endings
* text eol=lf

# file encodings for Rocket Git for Z version 2.14.4 and higher
*.cpy zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
*.cbl zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
*.properties zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
*.gitattributes zos-working-tree-encoding=ibm-1047 git-encoding=utf-8 
*.userbuilddependencies zos-working-tree-encoding=ibm-1047 git-encoding=utf-8